.mod-searchBar { position: absolute; z-index: 10; top: 2.2rem; left: 0; display: table; width: 100%; height: 2.2rem; border-bottom: 1px solid #e7e7e7; background-color: #f7f7f8; }
.mod-searchBar > .wrap { display: table-row; }
.mod-searchBar > .wrap > .item { display: table-cell; text-align: center; vertical-align: middle; padding: 0 5px;}
.mod-searchBar > .wrap > .item > select { line-height: 30px; display: block; overflow: hidden; width: 100%; height: 30px; padding: 1px 1px 1px 5px; cursor: pointer; white-space: nowrap; text-overflow: ellipsis; color: #333; border: none; background: none;border:1px solid #e2e2e2; border-radius:2px; font-size: 12px;}
.mod-searchBar ~ .content{top: 4.4rem;}

.mod-listView{display: block;border-bottom: 1px solid #ddd;padding: 10px 8px;background-color: #fff;}
.mod-listView > .tit{font-size: 16px;margin-bottom: 10px;line-height: 1.35;color: #1a1a1a;}
.mod-listView > .intro{font-size: 14px;margin-bottom: 10px;line-height: 1.5;color: #666;}
.mod-listView > .footer{display: table;width: 100%;table-layout: fixed;}
.mod-listView > .footer >.wrap{display: table-row;}
.mod-listView > .footer >.wrap > .item{display: table-cell;vertical-align: middle;text-align: left;font-size: 12px;color: #999;}
.mod-listView > .footer >.wrap > .item:last-child{text-align: right;}

.mod-search{padding: 10px;}
.mod-search input{width: 100%;border: 1px solid #ddd;border-radius: 3px;height: 1.35rem;line-height: 1.35rem;padding: 5px;font-size: 12px;}

.pageDetail-tit{padding: 10px;font-size: 14px;}
.pageDetail-tit > h1{font-size:18px;line-height: 1.35;padding: 5px 0; }
.pageDetail-tit > p{margin: 5px 0;}
.pageDetail-tab{padding: 0 10px;font-size: 14px;}
.pageDetail-tab .pageDetail-tab-control{width: 100%;display: table;}
.pageDetail-tab .pageDetail-tab-control >.wrap{display: table-row;}
.pageDetail-tab .pageDetail-tab-control >.wrap >.item{display: table-cell;vertical-align: middle;text-align: center;height: 30px;border: 1px solid #ddd;border-right: none;}
.pageDetail-tab .pageDetail-tab-control >.wrap >.item:last-child{border-right: 1px solid #ddd;}
.pageDetail-tab .pageDetail-tab-control >.wrap >.item._active{background-color: #0b3974;color: #fff;border-color: #0b3974;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item{display: none;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item._active{display: block;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView{display: block;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView > .tit{display: block;background-color: #d7e9ff;color:#336699;height: 30px;line-height: 30px;padding: 0 10px; }
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView > .mod-infoView-content{background-color: #fff;padding: 10px;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView > .mod-infoView-content > .item{overflow: hidden;margin: 8px 0;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView > .mod-infoView-content > .item >.tit{float: left;width: 100px;text-align: left;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView > .mod-infoView-content > .item >.info{margin-left: 100px;}
.pageDetail-tab .pageDetail-tab-content >.wrap >.item .mod-infoView > .mod-infoView-content h4{margin: 10px 0;}

.mod-iPanel{display: block;position: relative;padding: 15px;background-color: #00bcd4;overflow: hidden;}
.mod-iPanel > .avatar{width: 75px;height: 75px;overflow: hidden;float: left;border-radius: 50%;}
.mod-iPanel > .avatar img{width: 100%;height: 100%;display: block;}
.mod-iPanel > .mod-iPanel-content{margin-left: 85px;text-align: left;}
.mod-iPanel > .mod-iPanel-content .name{font-size: 18px;color: #fff;margin-bottom: 5px;}
.mod-iPanel > .mod-iPanel-content .subInfo{font-size: 12px;color: #fff;}
.mod-iPanel > .mod-iPanel-content .subInfo > .item{overflow: hidden;margin-bottom: 2px;}
.mod-iPanel > .mod-iPanel-content .subInfo > .item > .tit{width: 60px;float: left;}
.mod-iPanel > .mod-iPanel-content .subInfo > .item > .inner{margin-left: 60px;font-weight: bold;}

.mod-gridMenu{position: relative;background-color: #fff;overflow: hidden;}
.mod-gridMenu > .item{height: 96px;width: 33.3333%;display: table;float: left;border-right: 1px solid #eee;border-bottom: 1px solid #eee;}
.mod-gridMenu > .item:nth-child(3n+3){border-right: none;}
.mod-gridMenu > .item:nth-child(1n+1) > .wrap >.inner > .icon{color: #4caf50;}
.mod-gridMenu > .item:nth-child(2n+2) > .wrap >.inner > .icon{color: #ff9800;}
.mod-gridMenu > .item:nth-child(3n+3) > .wrap >.inner > .icon{color: #4caf50;}
.mod-gridMenu > .item > .wrap{display: table-row;}
.mod-gridMenu > .item > .wrap >.inner{display: table-cell;vertical-align: middle;text-align: center;}
.mod-gridMenu > .item > .wrap >.inner > .icon{font-size: 28px;display: block;}
.mod-gridMenu > .item > .wrap >.inner > .txt{font-size: 14px;display: block;text-align: center;color: #666;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* pageActivityDetail */
.pageActivityDetail .content > .flash{height: 200px;}
.pageActivityDetail .content > .flash .swiper-slide img{width: 100%;height: auto;}
.pageActivityDetail .content > .focus{background-color: #fff;margin-bottom: 10px;}
.pageActivityDetail .content > .focus .focus-main{overflow: hidden;padding: 20px 0;border-bottom: 1px solid #e1e3e2;}
.pageActivityDetail .content > .focus .focus-main > .act{float: right;width: 96px;height: 58px;text-align: center;overflow: hidden;color: #7a8293;padding-top: 3px;border-left: 1px solid #c4c4c4;}
.pageActivityDetail .content > .focus .focus-main > .act .icon{font-size:24px;display:block;margin-bottom: 3px;width: 32px;height: 32px;line-height: 32px;text-align: center;margin: auto;}
.pageActivityDetail .content > .focus .focus-main > .act .txt{font-size: 13px;display:block;}
.pageActivityDetail .content > .focus .focus-main > .tit{margin-right: 96px;padding: 0 12px;font-size: 20px;line-height: 1.35;}
.pageActivityDetail .content > .focus .focus-sub > .item{height: 44px;line-height: 44px;padding-left: 12px;overflow: hidden;}
.pageActivityDetail .content > .focus .focus-sub > .item > .ico{float: left;width: 33px;text-align: center;}
.pageActivityDetail .content > .focus .focus-sub > .item > .ico .icon{font-size: 16px;color: #7a8291;position: relative;top: -2px;}
.pageActivityDetail .content > .focus .focus-sub > .item > .inner{margin-left: 33px;overflow: hidden;font-size: 13px;padding-right: 10px;}
.pageActivityDetail .content > .focus .focus-sub > .item:last-child > .inner{background-image: none;}
.pageActivityDetail .content > .focus .focus-sub > .item > .inner .name{float: left;white-space: nowrap;width: 30%;overflow: hidden;text-overflow: ellipsis;color: #1a1a1a;}
.pageActivityDetail .content > .focus .focus-sub > .item > .inner .value{float: left;white-space: nowrap;width: 70%;overflow: hidden;text-overflow: ellipsis;color: #999;text-align: right;}
.pageActivityDetail .content .info-block{margin: 10px 0;background-color: #fff;padding: 12px;}
.pageActivityDetail .content .info-block > .tit{font-size: 14px;color: #1a1a1a;padding: 5px 0;line-height: 1.35;}
.pageActivityDetail .content .info-block > .info-block-content{line-height: 1.5;color: #555;font-size: 14px;}
/* end pageActivityDetail */

/* pageActivityList */
.pageActivityList .activityItem{padding: 12px 5px;background-color:#fff;overflow: hidden;display: block;} 
.pageActivityList .activityItem:last-child{background-image: none;}
.pageActivityList .activityItem > .priview{width: 85px;height: 106px;overflow: hidden;float: left;}
.pageActivityList .activityItem > .priview img{display: block;width: 100%;height: auto;}
.pageActivityList .activityItem > .inner{margin-left: 85px;padding-left: 12px;}
.pageActivityList .activityItem > .inner > .tit{font-size: 16px;color: #1a1a1a;line-height: 1.35;margin-bottom: 5px;}
.pageActivityList .activityItem > .inner > .abstract{font-size: 12px;color: #666;line-height: 1.5;margin-bottom: 10px;}
.pageActivityList .activityItem > .inner > .info-goup{overflow: hidden;}
.pageActivityList .activityItem > .inner > .info-goup > .info-item{font-size: 10px;color: #999;margin: 5px 0;}
/* end pageActivityList */

/* pagePay */
.pagePay .pay-item{overflow: hidden;position: relative;display: block;padding: 0 12px;margin: 10px 0;}
.pagePay .pay-item > input[type='radio']{position: absolute;clip: rect(1px,1px,1px,1px);}
.pagePay .pay-item > input[type='radio']:checked ~ .pay-origin{border-color: #3788fd;color: #3788fd;}
.pagePay .pay-item .pay-origin{display: block;border:1px solid #e5e5e5;background-color: #fff;border-radius: 3px;height: 44px;line-height: 44px;text-align: left;padding: 0 12px;font-size: 14px;color: #1a1a1a;}
.pagePay .content > .tit{margin: 12px 0;font-size: 12px;padding: 0 12px;}
.pagePay .content > .tit .name{color: #999;}
.pagePay .content > .tit .value .money{color: #fb612b;font-size: 20px;}
.pagePay .content > .tit .value .money .symbol{font-size: 12px;}
/* end pagePay */